@import url("https://fonts.googleapis.com/css2?family=Luxurious+Roman&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e5e5e5;
  font-family: "Nunito";
  height: 100%;
}

/* navbar */

.main-bar {
  background-color: #22272b !important;
  display: flow-root;
  padding: 0 10%;
  overflow-y: scroll;
}
#check {
  display: none;
}

.logo-header {
  display: table;
  float: left;
  vertical-align: middle;
  padding: 0;
  color: #efbb20;
  margin: 0;
  width: 180px;
  height: 68px;
  position: relative;
  z-index: 9;
  transition: all 0.5s;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
}

.logo-header a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logo-header img {
  width: 40px;
}

.logo-header:before {
  content: "";
  position: absolute;
  bottom: 0;
  height: 100%;
  z-index: -1;
  right: -30px;
  width: 100%;
  transform: skew(30deg);
  background-color: #ffe10a;
}

.logo-header:after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 100%;
  z-index: -1;
  right: 50%;
  width: 130px;
  background-color: #ffe10a;
  transform: skew(30deg);
}

.logo-header a {
  color: #22272b;
  font-weight: 900;
  text-decoration: none;
}

.ul {
  float: right;
}
nav .ul li {
  display: inline;
  line-height: 70px;
  border-radius: 14px;
}

nav li .active {
  color: #020101 !important;
  background-color: #fddb0d !important;
  border-radius: 14px !important;
}

nav li a {
  padding: 15px 20px;
  border: 0;
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  opacity: 1;
  text-decoration: none;
  transition: all 0.5s;
  border-radius: 14px;
  margin: 0 5px;
}

nav li:hover a {
  color: #020101;
  background-color: #fddb0d;
  border-radius: 14px;
}

.checkbtn {
  float: right;
  width: 20px;
  height: 18px;
  position: relative;
  transform: rotate(0);
  transition: 0.5s ease-in-out;
  cursor: pointer;
  top: 25px;
  display: none;
}

.checkbtn span {
  background-color: #fff;
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  border-radius: 1px;
  opacity: 1;
  left: 0;
  transform: rotate(0);
  transition: 0.25s ease-in-out;
}

.checkbtn span:nth-child(1) {
  top: 0;
}

.checkbtn span:nth-child(2) {
  top: 7px;
}

.checkbtn span:nth-child(3) {
  top: 14px;
}

.main-image {
  position: relative;
  display: block;
  margin: auto;
  width: 100%;
  height: 500px;
  overflow: hidden;
  /* background-image: url(./pic/coverkd.jpg); */
  /* Full height */

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.main-image img {
  width: 100%;
  height: 100%;
  display: none;
}

#video2 {
  width: 100%;
  height: auto;
}
/* .hero_mobile {
  background-image: url(https://scontent-los2-1.xx.fbcdn.net/v/t39.30808-6/271726467_1091243555005910_2490100346294862733_n.jpg?_nc_cat=111&ccb=1-5&_nc_sid=e3f864&_nc_eui2=AeF3UQP-Bq6fq0criSlXkiAlwziXTWlotGvDOJdNaWi0azWfpEgDHZ2zMYrGje4OTnDsI69Sp1QZQn6jDGQcenMo&_nc_ohc=5_GkUWo6fGQAX--H4X_&_nc_ht=scontent-los2-1.xx&oh=00_AT_3R8HZT9jUcQ_XycFs1W0ZFiYigbJpWVEWKh20xNO1Hg&oe=61EC1783);
} */

@media (min-aspect-ratio: 16/9) {
  #video2 {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  #video2 {
    width: auto;
    height: 100%;
  }
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #0201017e;
  padding: 2rem;
  border-radius: 0.7rem;
}

.container h1 {
  margin: 0;
  font-size: 66px;
}

.container h1 span {
  border: 6px solid white;
  padding: 6px 14px;
  display: inline-block;
}
.cen {
  margin: 20px;
  display: block;
  font-size: 22px;
}

.button {
  color: #313131;
  padding: 10px 24px;
  background: #f1f1f1;
  text-decoration: none;
  border-radius: 12px;
  transition: 0.6s;
}

.button:hover {
  opacity: 0.6s;
}

@media (max-width: 1250px) {
  .main-bar {
    padding: 0 2%;
  }
  nav li a {
    padding: 15px 20px;
  }
}

@media (max-width: 992px) {
  .main-bar {
    padding: 0 10%;
  }
  .checkbtn {
    display: block;
    margin-right: 40px;
  }

  nav .ul {
    position: fixed;
    width: 350px;
    height: 100vh;
    background-color: #22272b;
    top: 68px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
    overflow: scroll;
  }

  nav .ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  /* #check:checked ~ .ul {
    left: 0;
    z-index: 10;
  } */
  .uli {
    left: 0 !important;
    z-index: 10 !important;
  }

  .main-image img {
    display: block;
  }
}

@media (max-width: 560px) {
  nav .ul {
    display: block;
    width: 100%;
  }
}

@media (max-width: 767px) {
  #video2 {
    display: none;
  }
}

.carol {
  display: flex;
  flex-direction: column;
  margin: 2rem 1rem;
}

.carol img {
  width: 100%;
  height: 500px;
}
