.offering {
  display: block;
  position: relative;
  padding: 0;
  margin-bottom: 10rem;
}

.offer {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.offering-title {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.offering-box {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  margin-top: -15px;
}

.title {
  margin-left: 15px;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-bottom: 40px;
  text-align: center;
  top: 26px;
}

.offer h2 span {
  color: #fff;
  background-color: #0201017e;
  padding: 2rem;
  border-radius: 0.7rem;
}

.offering-title h2 {
  margin-top: -10px;
  margin-bottom: 16px;
  text-transform: uppercase;
  font-size: 36px;
  line-height: 48px;
  font-weight: 700;
  color: #333;
  font-family: "Ubuntu", sans-serif;
}

.box {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  max-width: 33.333333%;
}
.ser-box {
  margin-top: 75px;
  padding-bottom: 30px;
  padding: 0 60px;
  min-height: 198px;
  text-align: center;
  border-radius: 10px;
  background-color: #fff;
  transition: all 0.4s ease-in-out;
  box-shadow: 0 0 25px 0 rgba(20, 27, 202, 0.17);
}

.ser-box .icon {
  margin-bottom: 0;
  transform: translateY(-50%);
  text-align: center;
  /* box-shadow: 5px 5px white, 10px 10px gray, 15px 15px rgb(150, 150, 250); */
  border-radius: 50%;
  padding: 2rem 0;
}

.ser-box .icon {
  font-size: 60px;
}

.ser-box h4 {
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
  color: #3c44a9;
  margin-top: -55px;
  font-family: "Ubuntu", sans-serif;
}
.ser-box button {
  color: #61648e;
  margin-top: 10px;
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 5px;
}
.ser-box:hover {
  box-shadow: 0 0 25px 0 rgba(20, 27, 201, 0.05);
  cursor: pointer;
  background-image: linear-gradient(-45deg, #fb0054 0%, #f55b2a 100%);
}

.ser-box:hover h4,
.ser-box:hover p {
  color: #fff;
}

.offering-box .box:nth-child(1) .ser-box:hover {
  background-image: linear-gradient(-45deg, #34b5bf 0%, #210c59 100%);
}

.offering-box .box:nth-child(3) .ser-box:hover {
  background-image: linear-gradient(-45deg, #3615e7 0%, #44a2f6 100%);
}

.offering-box .box:nth-child(4) .ser-box:hover {
  background-image: linear-gradient(-45deg, #fc6a0e 0%, #fdb642 100%);
}

.offering-box .box:nth-child(5) .ser-box:hover {
  background-image: linear-gradient(-45deg, #8d40fb 0%, #5a57fb 100%);
}

.offering-box .box:nth-child(6) .ser-box:hover {
  background-image: linear-gradient(-45deg, #27b88d 0%, #22dd73 100%);
}

/********-Responsive-************/

@media (min-width: 768px) {
  .box {
    flex: 0 0 50% !important;
    max-width: 50% !important;
  }
}

@media (min-width: 600px) {
  .box {
    flex: 0 0 50% !important;
    max-width: 50% !important;
  }
}

@media (min-width: 992px) {
  .box {
    flex: 0 0 33.333333% !important;
    max-width: 33.333333% !important;
  }
}

@media (min-width: 414px) {
  .box {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 370px) {
  .box {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 320px) {
  .box {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
